@import 'variables';

.multiselect {
  margin-top: 10px;
  border: 1px solid $grey-light;

  .multiselect-item {
    padding: 6px 10px;
    cursor: pointer;

    &:hover {
      background-color: #grey-lighter;
    }

    &.selected {
      background-color: $teal;
      color: white;

      &:hover {
        background-color: darken($teal, 5);
      }
    }
  }
}
