<form
  ngrxForm="query"
  [fieldValidators]="fieldValidators"
  [initialValues]="initialValues"
>
  <div>
    <h2>Query Form</h2>
    <div>
      <input
        ngrxField="name"
        placeholder="Name"
      />
      <label class="error" *ngIf="fieldErrors.name">{{fieldErrors.name}}</label>
    </div>
    <div>
      <input
        ngrxField="age"
        placeholder="Age"
        type="number"
      />
      <label class="error" *ngIf="fieldErrors.age">{{fieldErrors.age}}</label>
    </div>
    <div>
      <select ngrxField="colour">
        <option *ngFor="let colour of colours" [value]="colour">{{colour | titlecase}}</option>
      </select>
      <label class="error" *ngIf="fieldErrors.colour">{{fieldErrors.colour}}</label>
    </div>
    <h3>Sex</h3>
    <div *ngFor="let sex of sexes">
      <label>{{sex | titlecase}}</label>
      <input
        ngrxField="sex"
        name="sex"
        type="radio"
        [value]="sex"
      />
    </div>
    <label class="error" *ngIf="fieldErrors.sex">{{fieldErrors.sex}}</label>
    <div>
      <h3>Hobbies</h3>
      <div *ngFor="let hobby of hobbies">
        <label>{{hobby | titlecase}}</label>
        <input
          ngrxField="hobbies"
          [normalizeIn]="isHobbyChecked(hobby)"
          [normalizeOut]="onHobbyChange(hobby)"
          type="checkbox"
        />
      </div>
    </div>
    <label class="error" *ngIf="fieldErrors.hobbies">{{fieldErrors.hobbies}}</label>
    <button type="submit">Submit</button>
  </div>
</form>
