<form
  ngrxForm="query"
  [ngrxFieldValidators]="fieldValidators"
  [ngrxInitialValues]="initialValues"
  (ngrxSubmit)="onSubmit($event)"
>
  <div>
    <h2>Query Form</h2>
    <div>
      <input
        ngrxField="name"
        placeholder="Name"
      />
    </div>
    <div>
      <input
        ngrxField="age"
        placeholder="Age"
        type="number"
      />
    </div>
    <div>
      <select
        ngrxField="colour"
      >
        <option *ngFor="let colour of colours" [value]="colour">{{colour | titlecase}}</option>
      </select>
    </div>
    <div>
      <label>Male</label>
      <input
        ngrxField="gender"
        name="gender"
        type="radio"
        value="male"
      />
    </div>
    <div>
      <label>Female</label>
      <input
        ngrxField="gender"
        name="gender"
        type="radio"
        value="female"
      />
    </div>
    <button type="submit">Submit</button>
  </div>
</form>
