<form
  ngrxForm="newUser"
  class="ui form"
  (ngrxSubmit)="onSubmit($event)"
  [fieldValidators]="fieldValidators"
  [initialValues]="initialValues"
>
  <!-- Name string input -->
  <div class="field required" [class.error]="showFieldError('name')">
    <label>Name</label>
    <input
      ngrxField="name"
      class="ui input"
      placeholder="Name"
    />
    <label class="error" *ngIf="showFieldError('name')">
      {{fieldErrors.name}}
    </label>
  </div>

  <!-- Age number input -->
  <div class="field required" [class.error]="showFieldError('age')">
    <label>Age</label>
    <input
      ngrxField="age"
      class="ui input"
      placeholder="Age"
      type="number"
    />
    <label class="error" *ngIf="showFieldError('age')">
      {{fieldErrors.age}}
    </label>
  </div>

  <!-- Colours select dropdown -->
  <div class="field required" [class.error]="showFieldError('colour')">
    <label>Favourite Colour</label>
    <select ngrxField="colour">
      <option *ngFor="let colour of colours" [value]="colour">
        {{colour | titlecase}}
      </option>
    </select>
    <label class="error" *ngIf="showFieldError('colour')">
      {{fieldErrors.colour}}
    </label>
  </div>

  <!-- Bands radio button group -->
  <div class="grouped fields" [class.error]="showFieldError('favouriteBand', false)">
    <label for="fruit">Favourite Band</label>

    <div *ngFor="let band of bands" class="field">
      <div class="ui radio checkbox">
        <input
          ngrxField="favouriteBand"
          type="radio"
          [value]="band"
        />
        <label>{{getBandName(band) | titlecase}}</label>
      </div>
    </div>

    <label class="error" *ngIf="showFieldError('favouriteBand', false)">
      {{fieldErrors.favouriteBand}}
    </label>
  </div>

  <!-- Hobbies checkbox group  -->
  <div class="grouped fields">
    <label for="fruit">Hobbies</label>

    <div *ngFor="let hobby of hobbies" class="field">
      <div class="ui checkbox">
        <input
          ngrxField="hobbies"
          [value]="hobby"
          [elementValueTransformer]="hobbyElementValueTransform"
          [stateValueTransformer]="hobbyStateValueTransform"
          type="checkbox"
        />
        <label>{{hobby | titlecase}}</label>
      </div>
    </div>

    <label class="error" *ngIf="showFieldError('hobbies')">
      {{fieldErrors.hobbies}}
    </label>
  </div>

  <!-- Custom "genres" multiselect component -->
  <div class="field" [class.error]="showFieldError('genres')">
    <label>Music genres</label>
    <app-genre-multiselect></app-genre-multiselect>
  </div>

  <!-- Terms & conditions checkbox -->
  <div class="field" [class.error]="showFieldError('terms')">
    <label>Terms &amp; Conditions</label>
    <input
      ngrxField="terms"
      type="checkbox"
    />
    <label class="error" *ngIf="showFieldError('terms')">
      {{fieldErrors.terms}}
    </label>
  </div>

  <button
    type="submit"
    [disabled]="formState && formState.invalid"
    class="ui primary button"
    [class.loading]="loading"
  >
    Submit
  </button>

  <button
    (click)="onReset()"
    type="button"
    class="ui button"
  >
    Reset Form
  </button>
</form>
